{
  "parser-options": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "fabric": true,
    "Vue": true,
    "template": true
  },
  "extends": "airbnb/base"
}