[submodule "assets/lib/fabric.js"]
	path = assets/lib/fabric.js
	url = https://github.com/GreenDou/fabric.js.git
[submodule "libs/fabric.js"]
	path = libs/fabric.js
	url = https://github.com/GreenDou/fabric.js.git
