* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#painter {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: hsla(0, 0%, 0%, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1680px;
    min-width: 840px;
    min-height: 632px;
}